<div class="zewn">
    <h1 class="title">Twoje przepisy</h1>
    <div class="wyszukiwarka">
        <span class="search">
            <input class="form-control" class="searchterm" placeholder="Wyszukaj" type="text"  [(ngModel)]="searchText" (input)="filtruj()"  placeholder="Szukaj nazwy">
        </span>
        <span class="search">
            <input class="form-control" class="searchterm" placeholder="Wyszukaj" type="text"  [(ngModel)]="searchTextkat" (input)="filtrujkat()"  placeholder="Szukaj kategorii">
        </span>
        
    </div>
        
            
    <span class="outer">
        <div *ngFor="let zmienna of listaAllFiltered; let i = index "  class="ddiv" (click)="obliczKalorie(zmienna)" (click)="modalService.open(['modal-',zmienna.nazwa].join(''))"> 
            <jw-modal id="modal-{{zmienna.nazwa}}">
                <div class="container">
                <img class="obrazmodal" src="http://localhost:5000/{{zmienna.obraz}}" alt=""> <br>
                <span class="przygotowaniemodal"> <br>
                {{zmienna.przygotowanie}} <br>
                </span> <br>
            </div>
              <span class="tekst">Składniki: </span><br>
                <span class="modalskladniki" *ngFor="let skladnik of zmienna.skladniki">
                {{skladnik.nazwaSklad}}:
                {{skladnik.ilosc}} <br>    
                </span>
               <span class="tekst"> Ilość kalorii na porcję to: {{lacznekalorie}} kcal </span>
            </jw-modal>
            <!-- <p> -->
            <span class="ramka">
                <img src="http://localhost:5000/{{zmienna.obraz}}" class="obrazGlowny" alt=""> <br>
                {{zmienna.nazwa}} <br>
                {{zmienna.kategoria}} <br>
                <!-- {{zmienna.przygotowanie}} <br> -->
            </span>
            <!-- </p> -->
        </div>
    </span>
</div>
